<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Main</key>
	<dict>
		<key>!</key>
		<string>↓</string>
		<key>!\</key>
		<string>ǃ</string>
		<key>&quot;</key>
		<string>ˈ</string>
		<key>%</key>
		<string>ˌ</string>
		<key>&amp;</key>
		<string>ɶ</string>
		<key>&apos;</key>
		<string>ʲ</string>
		<key>-\</key>
		<string>‿</string>
		<key>1</key>
		<string>ɨ</string>
		<key>2</key>
		<string>ø</string>
		<key>3</key>
		<string>ɜ</string>
		<key>3\</key>
		<string>ɞ</string>
		<key>4</key>
		<string>ɾ</string>
		<key>5</key>
		<string>ɫ</string>
		<key>6</key>
		<string>ɐ</string>
		<key>7</key>
		<string>ɤ</string>
		<key>8</key>
		<string>ɵ</string>
		<key>9</key>
		<string>œ</string>
		<key>:</key>
		<string>ː</string>
		<key>:\</key>
		<string>ˑ</string>
		<key>&lt;F&gt;</key>
		<string></string>
		<key>&lt;R&gt;</key>
		<string></string>
		<key>&lt;\</key>
		<string>ʢ</string>
		<key>=</key>
		<string>̩</string>
		<key>=\</key>
		<string>ǂ</string>
		<key>&gt;\</key>
		<string>ʡ</string>
		<key>?</key>
		<string>ʔ</string>
		<key>?\</key>
		<string>ʕ</string>
		<key>@</key>
		<string>ə</string>
		<key>@\</key>
		<string>ɘ</string>
		<key>A</key>
		<string>ɑ</string>
		<key>B</key>
		<string>β</string>
		<key>B\</key>
		<string>ʙ</string>
		<key>C</key>
		<string>ç</string>
		<key>D</key>
		<string>ð</string>
		<key>E</key>
		<string>ɛ</string>
		<key>F</key>
		<string>ɱ</string>
		<key>G</key>
		<string>ɣ</string>
		<key>G\</key>
		<string>ɢ</string>
		<key>G\_&lt;</key>
		<string>ʛ</string>
		<key>H</key>
		<string>ɥ</string>
		<key>H\</key>
		<string>ʜ</string>
		<key>I</key>
		<string>ɪ</string>
		<key>J</key>
		<string>ɲ</string>
		<key>J\</key>
		<string>ɟ</string>
		<key>J\_&lt;</key>
		<string>ʄ</string>
		<key>K</key>
		<string>ɬ</string>
		<key>K\</key>
		<string>ɮ</string>
		<key>L</key>
		<string>ʎ</string>
		<key>L\</key>
		<string>ʟ</string>
		<key>M</key>
		<string>ɯ</string>
		<key>M\</key>
		<string>ɰ</string>
		<key>N</key>
		<string>ŋ</string>
		<key>N\</key>
		<string>ɴ</string>
		<key>O</key>
		<string>ɔ</string>
		<key>O\</key>
		<string>ʘ</string>
		<key>P</key>
		<string>ʋ</string>
		<key>Q</key>
		<string>ɒ</string>
		<key>R</key>
		<string>ʁ</string>
		<key>R\</key>
		<string>ʀ</string>
		<key>S</key>
		<string>ʃ</string>
		<key>T</key>
		<string>θ</string>
		<key>U</key>
		<string>ʊ</string>
		<key>U\</key>
		<string>ʊ̵</string>
		<key>V</key>
		<string>ʌ</string>
		<key>W</key>
		<string>ʍ</string>
		<key>X</key>
		<string>χ</string>
		<key>X\</key>
		<string>ħ</string>
		<key>Y</key>
		<string>ʏ</string>
		<key>Z</key>
		<string>ʒ</string>
		<key>^</key>
		<string>↑</string>
		<key>_&quot;</key>
		<string>̈</string>
		<key>_+</key>
		<string>̟</string>
		<key>_-</key>
		<string>̠</string>
		<key>_/</key>
		<string>̌</string>
		<key>_0</key>
		<string>̥</string>
		<key>_=</key>
		<string>̩</string>
		<key>_&gt;</key>
		<string>ʼ</string>
		<key>_?\</key>
		<string>ˤ</string>
		<key>_A</key>
		<string>̘</string>
		<key>_F</key>
		<string>̂</string>
		<key>_G</key>
		<string>ˠ</string>
		<key>_N</key>
		<string>̼</string>
		<key>_O</key>
		<string>̹</string>
		<key>_R</key>
		<string>̌</string>
		<key>_X</key>
		<string>̆</string>
		<key>_\</key>
		<string>̂</string>
		<key>_^</key>
		<string>̯</string>
		<key>_a</key>
		<string>̺</string>
		<key>_c</key>
		<string>̜</string>
		<key>_d</key>
		<string>̪</string>
		<key>_e</key>
		<string>̴</string>
		<key>_h</key>
		<string>ʰ</string>
		<key>_j</key>
		<string>ʲ</string>
		<key>_k</key>
		<string>̰</string>
		<key>_l</key>
		<string>ˡ</string>
		<key>_m</key>
		<string>̻</string>
		<key>_n</key>
		<string>ⁿ</string>
		<key>_o</key>
		<string>̞</string>
		<key>_q</key>
		<string>̙</string>
		<key>_r</key>
		<string>̝</string>
		<key>_t</key>
		<string>̤</string>
		<key>_v</key>
		<string>̬</string>
		<key>_w</key>
		<string>ʷ</string>
		<key>_x</key>
		<string> ̽</string>
		<key>_}</key>
		<string>̚</string>
		<key>_~</key>
		<string>̃</string>
		<key>`</key>
		<string>˞</string>
		<key>a</key>
		<string>a</string>
		<key>b</key>
		<string>b</string>
		<key>b_&lt;</key>
		<string>ɓ</string>
		<key>c</key>
		<string>c</string>
		<key>c\</key>
		<string>ɕ</string>
		<key>d</key>
		<string>d</string>
		<key>d_&lt;</key>
		<string>ɗ</string>
		<key>d`</key>
		<string>ɖ</string>
		<key>e</key>
		<string>e</string>
		<key>f</key>
		<string>f</string>
		<key>g</key>
		<string>ɡ</string>
		<key>g_&lt;</key>
		<string>ɠ</string>
		<key>h</key>
		<string>h</string>
		<key>h\</key>
		<string>ɦ</string>
		<key>i</key>
		<string>i</string>
		<key>j</key>
		<string>j</string>
		<key>j\</key>
		<string>ʝ</string>
		<key>k</key>
		<string>k</string>
		<key>l</key>
		<string>l</string>
		<key>l\</key>
		<string>ɺ</string>
		<key>l`</key>
		<string>ɭ</string>
		<key>m</key>
		<string>m</string>
		<key>n</key>
		<string>n</string>
		<key>n`</key>
		<string>ɳ</string>
		<key>o</key>
		<string>o</string>
		<key>p</key>
		<string>p</string>
		<key>p\</key>
		<string>ɸ</string>
		<key>q</key>
		<string>q</string>
		<key>r</key>
		<string>r</string>
		<key>r\</key>
		<string>ɹ</string>
		<key>r\`</key>
		<string>ɻ</string>
		<key>r`</key>
		<string>ɽ</string>
		<key>s</key>
		<string>s</string>
		<key>s\</key>
		<string>ɕ</string>
		<key>s`</key>
		<string>ʂ</string>
		<key>t</key>
		<string>t</string>
		<key>t`</key>
		<string>ʈ</string>
		<key>u</key>
		<string>u</string>
		<key>v</key>
		<string>v</string>
		<key>v\</key>
		<string>ʋ</string>
		<key>w</key>
		<string>w</string>
		<key>x</key>
		<string>x</string>
		<key>x\</key>
		<string>ɧ</string>
		<key>y</key>
		<string>y</string>
		<key>z</key>
		<string>z</string>
		<key>z\</key>
		<string>ʑ</string>
		<key>z`</key>
		<string>ʐ</string>
		<key>{</key>
		<string>æ</string>
		<key>|</key>
		<string>|</string>
		<key>|\</key>
		<string>ǀ</string>
		<key>|\|\</key>
		<string>ǁ</string>
		<key>||</key>
		<string>‖</string>
		<key>}</key>
		<string>ʉ</string>
		<key>~</key>
		<string>̃</string>
	</dict>
	<key>Ligatures</key>
	<dict>
		<key>d_Z</key>
		<string>ʤ</string>
		<key>d_z</key>
		<string>ʣ</string>
		<key>d_z\</key>
		<string>ʥ</string>
		<key>f_N</key>
		<string>ʩ</string>
		<key>l_s</key>
		<string>ʪ</string>
		<key>l_z</key>
		<string>ʫ</string>
		<key>t_S</key>
		<string>ʧ</string>
		<key>t_s</key>
		<string>ʦ</string>
		<key>t_s\</key>
		<string>ʨ</string>
	</dict>
	<key>Digraphs</key>
	<dict>
		<key>Nm)</key>
		<string>ŋ͡m</string>
		<key>OI)</key>
		<string>ɔ͡ɪ</string>
		<key>OY)</key>
		<string>ɔ͡ʏ</string>
		<key>aI)</key>
		<string>a͡ɪ</string>
		<key>aU)</key>
		<string>a͡ʊ</string>
		<key>dZ)</key>
		<string>d͡ʒ</string>
		<key>d_Z</key>
		<string>d͡ʒ</string>
		<key>d_z</key>
		<string>d͡z</string>
		<key>d_z\</key>
		<string>d͡ʑ</string>
		<key>dz)</key>
		<string>d͡z</string>
		<key>dz\)</key>
		<string>d͡ʑ</string>
		<key>fN)</key>
		<string>f͡ŋ</string>
		<key>f_N</key>
		<string>f͡ŋ</string>
		<key>gb)</key>
		<string>g͡b</string>
		<key>kp)</key>
		<string>k͡p</string>
		<key>l_s</key>
		<string>l͡s</string>
		<key>l_z</key>
		<string>l͡z</string>
		<key>ls)</key>
		<string>l͡s</string>
		<key>lz)</key>
		<string>l͡z</string>
		<key>tS)</key>
		<string>t͡ʃ</string>
		<key>t_S</key>
		<string>t͡ʃ</string>
		<key>t_s</key>
		<string>t͡s</string>
		<key>t_s\</key>
		<string>t͡ɕ</string>
		<key>ts)</key>
		<string>t͡s</string>
		<key>ts\)</key>
		<string>t͡ɕ</string>
	</dict>
	<key>Tone diacritics</key>
	<dict>
		<key>_T</key>
		<string>̋</string>
		<key>_H</key>
		<string>́</string>
		<key>_M</key>
		<string>̄</string>
		<key>_L</key>
		<string>̀</string>
		<key>_B</key>
		<string>̏</string>
	</dict>
	<key>Tone letters</key>
	<dict>
		<key>_T</key>
		<string>˥</string>
		<key>_H</key>
		<string>˦</string>
		<key>_M</key>
		<string>˧</string>
		<key>_L</key>
		<string>˨</string>
		<key>_B</key>
		<string>˩</string>
	</dict>
	<key>Extras</key>
	<dict>
		<key>-&gt;</key>
		<string>→</string>
		<key>0</key>
		<string>∅</string>
	</dict>
</dict>
</plist>
